In [57]:
import pandas
import statsmodels
import matplotlib.pyplot as plt
import scipy
import numpy
import sklearn
import theano
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense
import quandl
import datetime

Using TensorFlow backend.

In [58]:
# We will look at stock prices over the past year, starting at January 1, 2016
start = datetime.datetime(2014,1,1)
end = datetime.date.today()

# Let's get Apple stock data; Apple's ticker symbol is AAPL
# First argument is the series we want, second is the source ("yahoo" for Yahoo! Finance), third is the start date, fourth is the end date
s = "AAPL"
apple = quandl.get("WIKI/" + s, start_date=start, end_date=end)

#We want to see which of those values correspond to what
pandas.core.frame.DataFrame

apple.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2014-01-02,555.68,557.03,552.021,553.1300,8381600.0,0.0,1.0,73.862376,74.041821,73.376012,73.523423,58671200.0
2014-01-03,552.86,553.70,540.430,540.9800,14016700.0,0.0,1.0,73.487534,73.599189,71.835308,71.908415,98116900.0
2014-01-06,537.45,546.80,533.600,543.9300,14736100.0,0.0,1.0,71.439198,72.682024,70.927447,72.300536,103152700.0
2014-01-07,544.32,545.96,537.925,540.0375,11328900.0,0.0,1.0,72.352376,72.570369,71.502337,71.783135,79302300.0
2014-01-08,538.81,545.56,538.690,543.4600,9233200.0,0.0,1.0,71.619973,72.517200,71.604022,72.238063,64632400.0

In [59]:
#We want to see the raw value and select them
Open = []
Close = []
for i in range(len(apple.values)):
    #print(apple.values[i][7])
    #print(apple.values[i][10])
    Open.append(apple.values[i][7])
    Close.append(apple.values[i][10])

In [54]:
from newspaper import Article 
import re

url = 'https://www.ccn.com/crypto/bitcoin-price-crash-3000-brutal-worst-case-scenario/2019/07/08/'
article2 = Article(url)
article2.download()
article2.parse()

#Splitting the text

article_text2 = article2.title + " " + article2.text
article_Split2 = str(article_text2.split())

#2nd way to select word with dictionnary

liste2 = open('negative_connotation').read()
listed2 = re.findall(r"[a-zA-z]+\w+\w", liste2)


#Finding the word with negative connotation

words = re.findall(r"[a-zA-z]+\w+\w", article_text2)

Nom_propre2 = []
for word in words:
    if word in listed2:
        Nom_propre2.append(word)
print(Nom_propre2)



liste3 = open('positive_connotation').read()
listed3 = re.findall(r"[a-zA-z]+\w+\w", liste3)


#Finding the word with positive connotation

words = re.findall(r"[a-zA-z]+\w+\w", article_text2)

Nom_propre3 = []
for word in words:
    if word in listed3:
        Nom_propre3.append(word)
print(Nom_propre3)

value = len(Nom_propre3)-len(Nom_propre2)
print(value)

['worst', 'crash']
['buy']
-1